.header{
    background-color: black;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    top: 0;
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    flex-wrap: wrap;
}

.header__list{
    margin: 0 0.5rem;
    list-style: none;
    font-family: cursive;
}

.header__list{
    cursor: pointer;
}

.header__link{
    text-decoration: none;
    color: whitesmoke;
}

.header__link:hover, .header__link:focus{
    color: gray;
}

.log{
    margin-right: 30px;
    color: white;
}

.logout{
    display: none;
    list-style: none;
    font-family: cursive;
}

@media  screen and (min-width: 450px) {
    .logout{
        display: inline;
    }

    .log{
        margin-left: auto;
    }
}