.ticket__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}

.searchbar__container{
    display: flex;
    justify-content: center;
    margin: 1rem;
    margin-top: 30px;
}