.ticket{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    margin: 1rem;
    background-color: whitesmoke;
    border: 2px solid gray;
    width: 90%;
    font-size: 0.8em;;
    border-radius: 0.8rem;
    padding: 0 0.5rem;
}

.ticket:hover{
    box-shadow: -1px -2px 10px 2px rgb(87, 87, 87);
}

.ticket__details{
    font-family: monospace;
    color: black;
    margin-right: auto;
    font-size: 8px;
    width: 50%;
}

.ticket__p{
    padding-top: 0;
    margin-top: 0;
    padding-left: 20px;
    width: 70%;
}

.ticket__select{
    width: 60px;
    min-width:50px;
    height: 60px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20%;
    font-size: 0.8em;
    font-family:Arial, Helvetica, sans-serif;
    border: 2px solid black;
    background-color: rgb(236, 233, 233);
    color: black;
    flex-shrink: 0;
    margin: 10px;

}


.select__name{
    z-index: -1;
    text-align: left;
    padding-left: 1rem;
    font-size: small;
    opacity: 0.6;
    margin: 5px 0px;
    margin-bottom: auto;
    padding-top: 5px;
}

.ticket__select:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

@media screen and (min-width:400px) {
    .ticket__select{
        width: 100px;
        min-width: 100px;
    }

    .ticket__details{
        font-size: 10px;
    }
}

@media screen and (min-width: 580px) {
    .ticket__details{
        font-size: 12px;
    }

    .ticket{
        font-size: 1em;
    }

    .ticket__select{
        font-size: 1em;
        width: 120px;
    }
}

@media screen and (min-width: 700px) {
    .ticket{
        font-size: 1em;
    }

    .ticket__select{
        font-size: 1.2em;
        margin-left: auto;
        width: 150px;
        margin-right: 20px;
        box-sizing: content-box;
    }
}

@media screen and (min-width: 800px) {
    .ticket__select{
        width: 180px;
    }
}