.ticket{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    margin: 1rem;
    background-color: whitesmoke;
    border: 2px solid gray;
    width: 75%;
    font-size: 0.8em;;
    border-radius: 0.8rem;
    padding: 0 0.5rem;
}

.ticket:hover{
    box-shadow: -1px -2px 10px 2px rgb(87, 87, 87);
}

.ticket__details{
    font-family: monospace;
    color: black;
    margin-right: auto;
}

.ticket__p{
    padding-top: 0;
    margin-top: 0;
    padding-left: 20px;
    width: 70%;
}

.ticket__select{
    width: 100px;
    min-width: 100px;
    height: 60px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20%;
    font-size: 0.8em;
    font-family:Arial, Helvetica, sans-serif;
    border: 2px solid black;
    background-color: rgb(236, 233, 233);
    color: black;
}

@media screen and (min-width: 580px) {
    .ticket{
        font-size: 1em;
    }

    .ticket__select{
        font-size: 1.2em;
        width: 100px;
    }
}

@media screen and (min-width: 700px) {
    .ticket{
        font-size: 1em;
    }

    .ticket__select{
        font-size: 1.2em;
        margin-left: auto;
        width: 100px;
        box-sizing: content-box;
        padding: 1rem;
    }
}