.header{
    background-color: black;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    top: 0;
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
}

.header__list{
    margin: 0 1rem;
    list-style: none;
    font-family: cursive;
}

.header__list{
    cursor: pointer;
}

.header__link{
    text-decoration: none;
    color: whitesmoke;
}

.header__link:hover, .header__link:focus{
    color: gray;
}