.header{
    background-color: black;
    color: whitesmoke;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    top: 0;
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
}

.header__list{
    margin: 0 1rem;
    list-style: none;
}

.header__list{
    cursor: pointer;
}

.header__list:hover{
    color: gray;
}