.ticket__status{
    display: inline;
    border: 2px solid rgb(57, 57, 57);
    padding: 0.2rem;
    border-radius: 0.3rem;
    word-spacing: 0.5rem;
    width: 120px;
    text-align: center;
    margin-right: 1.5rem;
    margin-left: auto;
    flex-shrink: 0;
}

.ticket__title{
    margin-left: 10px;
}

.ticket__id{
    margin-left: 10px;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
} 

.ticket__p{
    line-height: 1.5;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.ticket__state{
    color: rgb(82, 82, 250);
    font-size: 10px;
    display: block;
}

@media screen and (min-width: 420px) {
    .ticket__status{
        width: 120px;
    }

    .ticket__state{
        font-size: smaller;
    }
}

@media screen and (min-width: 550px) {
    .ticket__state{
        font-size: large;
    }

    .ticket__status{
        margin-left: auto;
    }
}

@media screen and (min-width: 760px) {
    .ticket__state{
        font-size: medium;
        display: inline;
    }

    .ticket__status{
        padding: 1.2rem;
        text-align: left;
        width: 150px;
        white-space: nowrap;
        margin-left: auto ;
    }
}

@media screen and (min-width: 880px) {
    .ticket__state{
        font-size: large;
    }

    .ticket__status{
        word-spacing: 1rem;
        margin-left: auto;
        width: 200px;
    }
}