.form__container{
    display: flex;
    justify-content: center;
    border-top: 2px double black;
    padding: 1rem 0;
}

.form{
    font-size: larger;
    max-width: 800px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1.5rem;
    flex-grow: 1;
}

fieldset{
    border-radius: 1rem;
}

.form__p{
    padding-left: 1rem;
    width: 90%;
    font-family: cursive;
    font-size: large;
    max-width: 600px;
    display: block;
}

.form__input, .form__input-select{
    width: 80%;
    height: 1.3rem;
    font-size: small;
    border: 2px solid gray;
    box-sizing: content-box;
    padding-left: 0.5rem;
    max-width: 400px;
    margin-left: 10px;
}

.form__option:checked{
    font-weight: bolder;
}

.form__option:hover, option:hover{
    background-color: brown;
}

.form__button{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 0.3rem;
    font-size: larger;
    margin-left: 80%;
    cursor: pointer;
}

.form__button:active{
    background-color: black;
    color: white;
}

@media screen and (min-width: 468px) {
    .form__p{
        display: flex;
        justify-content: space-between;
    }
}