.ticket__status{
    display: inline;
    /* border: 2px solid rgb(57, 57, 57); */
    box-shadow: 1px 1px 10px rgb(224, 222, 222);
    padding: 0.2rem;
    border-radius: 0.3rem;
    word-spacing: 0.5rem;
    width: 80px;
    text-align: center;
    width: 40%;
    flex-shrink: 0;
}

.ticket__title{
    margin-left: 10px;
    margin-top: 0;
    width: 100%;
    font-family: cursive;
    word-wrap: break-word;     
    overflow-wrap: break-word;
    font-weight: bolder;
}

.ticket__title-span{
    font-size: 20px;
    font-weight: 1000;
    margin-left: 0px;
    font-family: sans-serif;
}

.ticket__id{
    margin-left: 10px;
    width: 100%;
    font-weight: 400;
    word-wrap: break-word;     
    overflow-wrap: break-word;
    margin-right: 20px;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
} 

.ticket__p{
    line-height: 1.5;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.ticket__header{
    display: flex;
    width: 100px;
}

.ticket__timestamp{
    font-size: smaller;
    font-weight: lighter;
    margin-top: 5%;
    margin-right: 10%;
    white-space: nowrap;
}

.ticket__state{
    color: rgb(82, 82, 250);
    font-size: 10px;
    display: block;
}

.opent{
    color: rgb(188, 3, 3);
}

.resolvedt{
    color: rgb(1, 99, 1);
}

.inprogresst{
    color: rgb(0, 0, 179);
}

@media screen and (min-width: 450px) {

    .ticket__status{
        width: 120px;
    }

    .ticket__state{
        font-size: smaller;
    }
}

@media screen and (min-width: 550px) {
    .ticket__title{
        font-size: 30px;
    }

    .ticket__title-span{
        font-size: 23px;
        font-weight: 1000;
        /* margin-left: 10px; */
        font-family: sans-serif;
    }

    .ticket__header{
        width: 250px;
    }

    .ticket__state{
        font-size: 1rem;
    }

    .ticket__status{
        margin-left: auto;
    }
}

@media screen and (min-width: 760px) {
    .ticket__header{
        width: 300px;
    }

    .ticket__state{
        font-size: 0.9rem;
        display: inline;
    }

    .ticket__status{
        padding: 1.2rem;
        text-align: left;
        width: 150px;
        white-space: nowrap;
        margin-left: auto ;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 880px) {
    .ticket__state{
        font-size: 1.18rem;
    }

    .ticket__status{
        word-spacing: 1rem;
        margin-left: auto;
        margin-right: 10px;
        width: 30%;
        text-align: center;
        font-size: 2rem;
    }
}

@media screen and (min-width:980px) {
    .ticket__state{
        font-size: 1.4rem;
    }
}